@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --font: 'Roboto', sans-serif;
}

.overflow{
  overflow: hidden;
}

*{
  font-family: var(--font);
}

#leftside p{
  margin-left: 12px;
}

#leftside{
    width: 207px;
    height: 630px;
    color: red;
    overflow-y: auto;
    float: left;
  }
  
  a{
    text-decoration: none;
    color: red;
  }
  #leftside::-webkit-scrollbar{
    width: 8px;
  }
  
  #leftside::-webkit-scrollbar-thumb{
    background:transparent;
    border-radius: 10px;
  }
  
  #leftside::-webkit-scrollbar-thumb:hover{
   background: linear-gradient(grey,grey);
  }
  
  #logo{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 25%;
    cursor: pointer;
    font-size: 27px;
  }
  .fa-youtube{
    color: red;
  }

  #logo p{
    margin-left: 0;
  }

  #i3,#i6,#i4,#i5{
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
  }

  #i4{
    margin: 0 12px;
  }

  .flags{
    position: absolute;
    top: 12px;
    margin: 0 20px;
  }

  .india-flag{
    left: 70%;
  }

  .red-flag{
    left: 25%;
  }

  #h{
    text-align: center;
    color: #606060;
    margin-top: 9px;
    cursor: default;
    font-weight: 600;
    font-size: 15px;
  }
  
  #home{
    cursor: pointer;
    width:80px;
    margin-top: 50px;
    margin-left: 12px;
  }
  
  #explore{
    width:100px;
    margin-top: 25px;
    margin-left: 12px;
  }
  
  #subscription{
    width:150px;
  }
  
  #hr{
    margin-left: 0px;
    margin-top: 13px;
    width: 190px;
  }
  
  #library{
    width:100px;
  }
  
  #history{
    width:100px;
  }
  
  #your {
    width:130px;
  }
  
  #watch {
    width:140px;
  }
  
  #PREMIUM {
    width:170px;
  }
  
  #movie{
    width:85px;
  }
  
  #game{
    width:100px;
  }
  
  #live{
    width:60px;
  }
  
  #fash{
    width:175px;
  }
  
  #send {
    width:170px;
    padding: 5px 0px;
  }
  
.all{
  cursor: pointer;
  margin-top: 20px;
  margin-left: 12px;
}

  /* left side end*/
  
  #searchbox{
    top: 2%;
    left: 17px;
    position: absolute;
    width: 20%;
    height: 43px;
    display: inline-block;
    z-index: 2;
  }
  
 .searchInput{
  /* margin-left: 155px; */
  height: 30px;
  width: 119px; 
  float: left;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;transition: width 1s;
  font-size: 15px;
  }

  /* #searchbox input:focus #searchbox{
    width: 51%;
  } */

  #searchbox input:focus-visible{
    outline: none;
  }

  .h{
    float: left;
    width: 50px;
    background-color: #f8f8f8;
    height: 32px;
    cursor: pointer;
    border: 1px solid #D3D3D3;
    border-radius: 0 2px 2px 0;
  }
  
  .icon-size{
    width: 17px;
    height: 17px;
  }

  .h img{
    margin-top: 6px;
    margin-left: 15px;
  }

  .h:hover{
      border-color:#c6c6c6;
      background-color:#f0f0f0;
      box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  }
  
  #i2{
    display: inline-block;
    width: 41px;
    height: 36px;
    position: relative;
    text-align: center;
    top: 0;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #i2 img{
    margin-left: -10px;
    margin-top: 8px;
    }
  
  #hr2{
    margin-top: 3px;
    width: 1140px;
    height: .1px;
    float: left;
  }
  /* search box ended*/
  
  /* button line start*/
  #btnrow{
    height: 33px;
    width: 1125PX;
    display: flex;
  }
  
  #btnrow button{
    height: 32px;
      background-color: (rgba(0,0,0,0.05));
      border: 1px solid;
      border-color: rgba(0,0,0,0.1);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 16px;
      border-width: 1px;
      margin: 0 0 0 20px;
      cursor: pointer;
  }
  
  #brow:hover{
    background-color: rgb(230, 230, 230);
  }
  
  #vidsec img{
    cursor: pointer;
  }
  
  #vidsec{
  display: grid;
  grid-template-columns: repeat(4,280px);
  }

  #vid1{
    margin-left: 22px;
    margin-top: 22px;
    height: 233px;
    cursor: pointer;
  }
  
  .vidlogo{
  width: 30px;
  float:left;
  margin-top: 10px;
  border-radius: 20px;
  }
  
  #p{
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  #allvid{
  height: 500px;
  width: 1150px;
  position: absolute;
  margin-left: 208px;
  margin-top: 30px;
  overflow-y: auto;
  background-color: #f9f9f9;
  justify-content: space-between;
  }
  
  #allvid::-webkit-scrollbar{
    width: 10px;
  }
  
  #allvid::-webkit-scrollbar-thumb{
    border-radius: 10px;
  }
  
  #allvid::-webkit-scrollbar-thumb:hover{
   background: linear-gradient(grey,grey);
  }

  ::-webkit-input-placeholder {
    text-align: start;
    padding: 5px;
  }


.signin{
  border: 1px solid blue;
  margin-top: 0;
  width: 10%;
  height: 4%;
  float: right;
  text-align: center;
  padding: 8px;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.signin p{
  display: inline;
  font-size: 18px;
  font-weight: 500;
}

.signin:active{
  background-color: rgb(224, 222, 222);
}

.signin:hover{
  cursor: pointer;
}

#i6 ul{
  width: 29%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 14%;
  z-index:10;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  border: 1px solid lightgray;
  background-color: white;
  display: none;
}

.blend{
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index:7;
  transition: all 2s;
  cursor: default;
}